@import "tailwindcss";

@layer components {
    .search-bar {
        @apply bg-zinc-800
            text-gray-300
            w-2/6
            px-5 py-3
            rounded-full
            outline-none

            ring-0 ring-transparent
            hover:ring-1 hover:ring-zinc-300
            focus:ring-2 focus:ring-zinc-100

            transition-all duration-300 ease-in-out;
    }
}

